<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Enter the city name in search box and get the current weather data</p>
        </div>
       
        {{>footer}}
    </body>
</html>